@*@Url.Action("Index") is a razor method that is used to call a action url which will take us to the correct view*@
<a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Index")">
    <span class="glyphicon glyphicon-list"></span>
    <span>Back To List</span>
</a>
